xgboost
scikit-learn
git+https://github.com/aarigs/pandas-ta.git
ccxt
python-dotenv
pyarrow
stable-baselines3
tensorboard
pyupbit
lightgbm
google-generativeai
pyjwt==2.3.0
tensorflow
pandas
numpy
gymnasium
torch
