xgboost
scikit-learn
git+https://github.com/aarigs/pandas-ta.git
ccxt
python-dotenv
pyarrow
stable-baselines3
pyupbit
lightgbm
google-generativeai

# --- CPU-Only Torch (Saves Gigabytes) ---
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio